/* @keyframes flicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px purple,
      0 0 80px purple,
      0 0 90px purple,
      0 0 100px purple,
      0 0 150px purple,

  }

  20%, 24%, 55% {
      text-shadow: none;
  }
}
 */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-color: lightblue; */
  /* background-image: url(./img/brick-texture.svg); */
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  height: 850px;
  position: relative;
  background-color: lavenderblush;
  /* border: 25px solid #9e4429; */
  /* background-image: url(./img/brick-texture.svg); */
}

main::after {
  content: '';
  z-index: -1;
  top: -20px;
  left: -20px;
  position: absolute;
  background-image: url(./img/brick-texture.svg);
  /* background-image: linear-gradient(white, white),
    linear-gradient(270deg, #00d7b9, #b95dd7 50%, #ffb367 100%); */
  /* background-size: 300% 300%; */
  width: 840px;
  height: 890px;
}

.square {
  /* background-color: lightblue; */
  width: 48px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.027);
}

.score-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 1em;
  position: absolute;
  font-size: 1.1rem;
}

span {
  font-size: 2.2rem;
  font-weight: bold;
  margin-left: 2rem;
  transition: all 1s ease-in-out;
  /* animation: flicker 1.5s infinite alternate; */
  /* color: #0fa; */

  /*   background-color: green;
  width: 23px;
  height: 23px; */
  /* border: 1px solid black; */
}

.baby {
  transition: all 1s ease;
  width: 48px;
  /* position: relative; */
}

img {
  width: 48px;
}
.player-icon {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.startGameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 30%;
}

.difficultyWrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficultyWrapper > p > span {
  font-size: 1.1rem;
  margin: 0%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > label {
  font-size: 1.5rem;
}

form > input {
  border: 1px solid black;
  padding: 8px;
  outline: none;
  margin: 4px 0px;
}

form > button {
  padding: 8px 24px;
  background: none;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  background: linear-gradient(to right, #0d0461 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.3s;
}

form > button:hover {
  background-position: bottom left;
  color: white;
}

ul {
  list-style: none;
  width: 80%;
  margin: 0%;
  padding: 0%;
}

li {
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 10px;
  margin: 4px 0px;
  padding: 6px;
  width: 100%;
  background: linear-gradient(to right, #0d0461 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.3s;
  color: black;
}



li:hover {
  background-position: bottom left;
  color: white;
}
